/*==============================================
    Brand One
===============================================*/
.brand-one {
    position: relative;
    display: block;
    padding: 116px 0 104px;
    background-color: var(--bemybaby-extra);
    z-index: 1;
}

.brand-one__carousel {
    position: relative;
    display: block;
}

.brand-one__single {
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
}

.brand-one__img {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.brand-one__img>img {
    width: auto !important;
    margin: 0 auto 0;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.brand-one__single:hover .brand-one__img>img {
    transform: scale(.9);
}

/*--------------------------------------------------------------
# Brand Two
--------------------------------------------------------------*/
.brand-two {
    position: relative;
    display: block;
    z-index: 2;
    margin-bottom: -80px;
}

.brand-two__inner {
    position: relative;
    display: block;
    background-color: var(--bemybaby-black);
    padding: 0 30px;
    border-radius: 20px;
}

.brand-two__carousel {
    position: relative;
    display: block;
}

.brand-two__carousel .owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-two__carousel .owl-item {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-two__carousel .owl-item .item{
    width: 100%;
}
.brand-two__carousel .owl-item img {
    height: 150px;
    padding: 1em;
    object-fit: contain;
}

.brand-two__single {
    position: relative;
    display: block;
    text-align: center;
}

.brand-two__img {
    position: relative;
    display: block;
}

.brand-two__img img {
    margin: 0 auto 0;
    transition: transform 500ms linear, filter 50ms linear;
    /* transition-delay: 0.1s; */
    transform: scale(1);
    filter: grayscale(1) invert(1) brightness(10);
}
.brand-two__img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: var(--bemybaby-white);
    z-index: 1;
    transition: all 500ms linear;
    visibility: hidden;
    opacity: 0;
}

.brand-two__single:hover .brand-two__img img {
    transform: scale(.9);
    filter: brightness(1);
}

.brand-two__single:hover .brand-two__img:before {
    visibility: visible;
    opacity: 1;
    left: 0;
    width: 100%;
    z-index: 0;
}














/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/