/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/
.main-slider {
    position: relative;
    display: block;
    z-index: 91;
    overflow: hidden;
}
.main-slider .swiper-container{
    overflow: unset;
}

.main-slider .swiper-slide {
    position: relative;
    background-color: var(--bemybaby-extra);
}

.main-slider__shape-1 {
    position: absolute;
    width: 810px;
    height: 810px;
    left: -236px;
    bottom: -380px;
    background: var(--bemybaby-black);
    filter: blur(182.737px);
    border-radius: 50%;
    z-index: -1;
    opacity: .35;
}


.main-slider__shape-2 {
    position: absolute;
    width: 810px;
    height: 810px;
    right: -236px;
    bottom: -380px;
    background: var(--bemybaby-base);
    filter: blur(182.737px);
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
}


.main-slider .container {
    position: relative;
    padding-top: 280px;
    padding-bottom: 170px;
    z-index: 30;
}

.main-slider__content {
    position: relative;
    display: block;
    z-index: 15;
}

.main-slider__sub-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--bemybaby-gray);
    text-transform: capitalize;
    border: 1px solid var(--bemybaby-gray);
    padding: 3px 12px 2px;
    border-radius: 18px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider .swiper-slide-active .main-slider__sub-title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
}

.main-slider__title {
    position: relative;
    font-size: 100px;
    color: var(--bemybaby-black);
    font-weight: 800;
    line-height: 1em;
    text-transform: capitalize;
    margin-top: 19px;
    margin-bottom: 30px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider__title span {
    color: var(--bemybaby-black);
    font-weight: 300;
}

.main-slider .swiper-slide-active .main-slider__title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
}

.main-slider__text {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: var(--bemybaby-gray);
    line-height: 28px;
    margin-bottom: 37px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(120px);
    transform: perspective(400px) rotateY(0deg) translateY(120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 1;
}

.main-slider .swiper-slide-active .main-slider__text {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

.main-slider__btn-and-video-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(120px);
    transform: perspective(400px) rotateY(0deg) translateY(120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider .swiper-slide-active .main-slider__btn-and-video-box {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1800ms;
    -moz-transition-delay: 1800ms;
    -ms-transition-delay: 1800ms;
    -o-transition-delay: 1800ms;
    transition-delay: 1800ms;
}

.main-slider__btn-box {
    position: relative;
    display: block;
}

.main-slider__btn-box .thm-btn {
    background-color: var(--bemybaby-primary);
    color: white;
}

.main-slider__btn-box .thm-btn:hover {
    color: var(--bemybaby-black);
}

.main-slider__btn-box .thm-btn::before,
.main-slider__btn-box .thm-btn::after {
    background-color: var(--bemybaby-white);
}

.main-slider__video-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.main-slider__video-link {
    position: relative;
    display: block;
}

.active .main-slider__video-link {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 500ms;
}

.main-slider__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--bemybaby-white);
    background-color: rgba(var(--bemybaby-white-rgb), .10);
    border-radius: 50%;
    margin: 0 auto 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.main-slider__video-icon:hover {
    color: var(--bemybaby-black);
}

.main-slider__video-icon:hover::before {
    background-color: var(--bemybaby-white);
    color: var(--bemybaby-black);
}

.main-slider__video-icon:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    border: 1px solid var(--bemybaby-white);
    background-color: var(--bemybaby-black);
    border-radius: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: -1;
}

.main-slider__video-link .ripple,
.main-slider__video-icon .ripple:before,
.main-slider__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--bemybaby-base-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--bemybaby-base-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--bemybaby-base-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--bemybaby-base-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.main-slider__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.main-slider__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.main-slider__video-title {
    font-size: 18px;
    color: var(--bemybaby-white);
    line-height: 18px;
    font-weight: 700;
}

/* .main-slider__img-box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transform: translateX(300px);
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    z-index: 1;
} */

.main-slider .swiper-slide-active .main-slider__img-box {
    opacity: 1;
    transform: translateX(0);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider__img {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
}

.main-slider__img img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-slider__call {
    position: absolute;
    top: 0;
    right: 0;
}

.main-slider__call a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    background-color: rgba(var(--bemybaby-primary-rgb), .38);
    border-radius: 30px 30px 30px 20px;
    font-size: 38px;
    color: var(--bemybaby-white);
}

.main-slider__call a:hover {
    background-color: var(--bemybaby-white);
    color: var(--bemybaby-black);
}



#main-slider-pagination {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 50px;
    margin: 0 auto !important;
    height: 0;
    line-height: 0;
    z-index: 100;
}

#main-slider-pagination:before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 20px;
    right: -20px;
    background-color: rgba(var(--bemybaby-base-rgb), .52);
    border-radius: 200px;
    z-index: -1;
}

#main-slider-pagination .swiper-pagination-bullet {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    padding: 5px 0;
    margin: 15px 0px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid var(--bemybaby-black);
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

#main-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

#main-slider-pagination .swiper-pagination-bullet::before {
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border: 2px solid var(--bemybaby-gray);
    border-radius: 50%;
    transform: scale(0);
    transition: all 200ms linear;
    transition-delay: 0.1s;
    content: "";
}

#main-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before,
#main-slider-pagination .swiper-pagination-bullet:hover {
    transform: scale(1.0);
}

/*--------------------------------------------------------------
  # Main Slider Two
  --------------------------------------------------------------*/
.main-slider-two {
    position: relative;
    display: block;
    background-color: var(--bemybaby-white);
    z-index: 2;
}

.main-slider-two .swiper-slide {
    position: relative;
    background-color: var(--bemybaby-white);
}

.main-slider-two__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: transform 7000ms ease, opacity 1500ms ease-in;
    transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    z-index: -1;
}

.main-slider-two .swiper-slide-active .main-slider-two__bg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.main-slider-two__bg-overly {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 109, 119, 0.2) 0%, #006D77 100%);
}

.main-slider-two .container {
    position: relative;
    padding-top: 338px;
    padding-bottom: 0px;
    z-index: 30;
}

.main-slider-two__content {
    position: relative;
    display: block;
    z-index: 15;
}

.main-slider-two__sub-title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--bemybaby-white);
    text-transform: capitalize;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider-two .swiper-slide-active .main-slider-two__sub-title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
}

.main-slider-two__title {
    position: relative;
    font-size: 85px;
    color: var(--bemybaby-white);
    font-weight: 800;
    line-height: 1.1em;
    text-transform: capitalize;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider-two__title span {
    color: var(--bemybaby-white);
    font-weight: 300;
}

.main-slider-two .swiper-slide-active .main-slider-two__title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
}

.main-slider-two__right-content {
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 1;
}

.main-slider-two__counter-box {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(var(--bemybaby-white-rgb), .30);
    padding-bottom: 31px;
    margin-bottom: 8px;
}

.main-slider-two__counter {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.main-slider-two__counter li {
    position: relative;
    display: block;
}

.main-slider-two__counter-single {
    position: relative;
    display: block;
}

.main-slider-two__counter-count {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1px;
}

.main-slider-two__counter-count h3 {
    font-size: 48px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 48px !important;
    font-family: var(--bemybaby-font) !important;
}

.main-slider-two__counter-count span {
    font-size: 48px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 48px;
    font-family: var(--bemybaby-font);
}

.main-slider-two__counter-text {
    font-size: 15px;
    color: var(--bemybaby-white);
    font-weight: 500;
}

.main-slider-two__text-box {
    color: var(--bemybaby-white);
}

.main-slider-two__thm-btn {
    position: relative;
    display: block;
    margin-top: 31px;
}

.main-slider-two__thm-btn .thm-btn {
    background-color: var(--bemybaby-base);
}

.main-slider-two__thm-btn .thm-btn:before,
.main-slider-two__thm-btn .thm-btn:after {
    background-color: var(--bemybaby-black);
}

.main-slider-two__bottom {
    position: relative;
    display: block;
    border-top: 1px solid rgba(var(--bemybaby-white-rgb), .30);
    padding-top: 50px;
    padding-bottom: 58px;
    margin-top: 67px;
}

.main-slider-two__points {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-slider-two__points li {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.main-slider-two__points li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border: 1px solid var(--bemybaby-white);
    border-radius: 50%;
    font-size: 7px;
    color: var(--bemybaby-white);
}

.main-slider-two__points li .text {
    position: relative;
    display: block;
    flex: 1;
}

.main-slider-two__points li .text p {
    font-size: 18px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
}

/*--------------------------------------------------------------
  # Main Slider Three
  --------------------------------------------------------------*/
.main-slider-three {
    position: relative;
    display: block;
    background-color: var(--bemybaby-black);
    z-index: 2;
}

.main-slider-three .swiper-slide {
    position: relative;
    background-color: var(--bemybaby-black);
}

.main-slider-three__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .50;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: transform 7000ms ease, opacity 1500ms ease-in;
    transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    z-index: -1;
}

.main-slider-three .swiper-slide-active .main-slider-three__bg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.main-slider-three .container {
    position: relative;
    padding-top: 240px;
    padding-bottom: 240px;
    z-index: 30;
}

.main-slider-three__content {
    position: relative;
    display: block;
    text-align: center;
    z-index: 15;
}

.main-slider-three__review-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider-three .swiper-slide-active .main-slider-three__review-box {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
}

.main-slider-three__review-img-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-slider-three__review-img-box li {
    position: relative;
    display: block;
}

.main-slider-three__review-img-box li+li {
    margin-left: -25px;
}

.main-slider-three__review-img-box li:last-child {
    z-index: 1;
}

.main-slider-three__review-img {
    position: relative;
    display: block;
    overflow: hidden;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
}

.main-slider-three__review-img img {
    width: 100%;
    border: 2px solid var(--bemybaby-white);
    border-radius: 50%;
}

.main-slider-three__review-count-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bemybaby-black);
    border: 2px solid var(--bemybaby-white);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.main-slider-three__review-count {
    position: relative;
    display: flex;
    align-items: center;
}

.main-slider-three__review-count h3 {
    font-size: 18px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 18px !important;
    font-family: var(--bemybaby-font) !important;
}

.main-slider-three__review-count span {
    font-size: 18px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 18px;
    font-family: var(--bemybaby-font);
}

.main-slider-three__review-content-box {
    position: relative;
    display: block;
}

.main-slider-three__review-content-title {
    font-size: 18px;
    color: var(--bemybaby-white);
    font-weight: 700;
    text-transform: capitalize;
    line-height: 23px;
}

.main-slider-three__title {
    position: relative;
    font-size: 90px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 1.04em;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 19px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -ms-transform: perspective(400px) rotateX(0deg) translateY(-120px);
    transform: perspective(400px) rotateX(0deg) translateY(-120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider-three .swiper-slide-active .main-slider-three__title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
}

.main-slider-three__text {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: rgba(var(--bemybaby-white-rgb), .90);
    line-height: 28px;
    margin-bottom: 31px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(120px);
    transform: perspective(400px) rotateY(0deg) translateY(120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
    z-index: 1;
}

.main-slider-three .swiper-slide-active .main-slider-three__text {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

.main-slider-three__btn-and-video-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(120px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(120px);
    transform: perspective(400px) rotateY(0deg) translateY(120px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -ms-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}

.main-slider-three .swiper-slide-active .main-slider-three__btn-and-video-box {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1800ms;
    -moz-transition-delay: 1800ms;
    -ms-transition-delay: 1800ms;
    -o-transition-delay: 1800ms;
    transition-delay: 1800ms;
}

.main-slider-three__btn-and-video-box .thm-btn {
    background-color: var(--bemybaby-base);
}

.main-slider-three__btn-and-video-box .thm-btn:hover {
    color: var(--bemybaby-black);
}

.main-slider-three__btn-and-video-box .thm-btn:before,
.main-slider-three__btn-and-video-box .thm-btn:after {
    background-color: var(--bemybaby-white);
}

.main-slider-three__video-link {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-slider-three__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: var(--bemybaby-white);
    background-color: var(--bemybaby-base);
    border-radius: 50%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin: 0;
}

.main-slider-three__video-icon:hover {
    background-color: var(--bemybaby-white);
    color: var(--bemybaby-base);
}

.main-slider-three__video-link .ripple,
.main-slider-three__video-icon .ripple:before,
.main-slider-three__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--bemybaby-white-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--bemybaby-white-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--bemybaby-white-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--bemybaby-white-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.main-slider-three__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.main-slider-three__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.main-slider-three__video-title {
    font-size: 18px;
    color: var(--bemybaby-white);
    font-weight: 700;
    line-height: 18px;
}

.main-slider-three__nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transform: translateY(-50%);
    padding: 0 120px;
    height: 0;
    line-height: 0;
    z-index: 100;
}

.main-slider-three__nav .swiper-button-next,
.main-slider-three__nav .swiper-button-prev {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 100;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: rgba(var(--bemybaby-white-rgb), 1);
    opacity: 1;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    transition: all 500ms ease;
    border-radius: 50%;
    border: 2px solid rgba(var(--bemybaby-white-rgb), 1);
    background: transparent;
}


.main-slider-three__nav .swiper-button-next:hover,
.main-slider-three__nav .swiper-button-prev:hover {
    color: rgba(var(--bemybaby-white-rgb), 1);
    border: 2px solid rgba(var(--bemybaby-base-rgb), 1);
    background-color: var(--bemybaby-base);
}

.main-slider-three__nav .swiper-button-next::after,
.main-slider-three__nav .swiper-button-prev::after {
    display: none;
}

.main-slider-three__nav .swiper-button-next {
    margin-top: 0px;
}

.main-slider-three__nav .swiper-button-next i {
    position: relative;
    display: block;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-left: 15px solid var(--bemybaby-white);
}

.main-slider-three__nav .swiper-button-next i:before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    height: 1px;
    width: 55px;
    background-color: var(--bemybaby-white);
}

.main-slider-three__nav .swiper-button-prev i {
    position: relative;
    display: block;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
    border-right: 15px solid var(--bemybaby-white);
}

.main-slider-three__nav .swiper-button-prev i:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 1px;
    width: 55px;
    background-color: var(--bemybaby-white);
}